.main_header {
  background-image: url("../../assets/img/main-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 244px;
  .main_header__lang {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    color: var(--white-text-color);
    margin: 130px 15px 0 0;
    button {
      color: var(--white-text-color);
      font-family: var(--font-base);
      font-size: var(--font-size-m);
    }
  }
}

.header_wrapper {
  background-color: var(--white-text-color);
}

.main_about {
  display: flex;
  flex-direction: row;
  padding-top: 38px;
  .main_about__photo {
    background-image: url("../../assets/img/main-photo.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    height: 250px;
  }
  .main_about__title {
    width: 50%;
    padding: 30px 10px 10px 30px;
    h2 {
      font-size: var(--font-size);
      font-weight: 700;
    }
  }
  .main__descrDesktop {
    display: none;
  }
}
.main__descrMobile {
  margin-top: 10px;
  padding: 20px;
  // width: 70%;

  p {
    font-size: var(--font-size);
    font-weight: 300;
    color: var(--black-color);
  }
  .link {
    margin: 30px 0;
  }
}
.link {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  text-decoration: none;
  &:visited {
    color: inherit;
  }
  p {
    font-size: var(--font-size);
    font-weight: 500;
    margin: -3px 5px 0 0;
    // color: var(--black-color);
  }
}

// ****************** CASES ***************
.main_cases {
  .main_cases__photo {
    background-image: url("../../assets/img/cat.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 300px;
  }
  background-color: var(--black-color);
  color: var(--white-text-color);
  text-align: end;

  .main_cases__text {
    padding: 20px;
  }
  .main_cases__textSM {
    font-size: var(--font-size-s);
    padding: 10px 0 0 0;
  }
  h2 {
    padding: 20px 0;
    font-size: var(--font-size-m);
    font-weight: 500;
  }
  .link {
    justify-content: flex-end;
    color: var(--white-text-color);
    margin: 50px 0;
  }
}

// ****************** FEEDBACK ***************
.main_feedback__photo {
  background-image: url("../../assets/img/main-dog-mobile.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 100%;
  padding: 20px 30px 0 20px;
  .main_feedback__deskr {
    .main_feedback__preTitle {
      padding: 10px 100px 10px 0;
    }
    h2 {
      padding-top: 12px;
      line-height: 23px;
      font-weight: 500;
      width: 260px;
    }
    .link_contacts {
      color: var(--black-text-color);
      font-size: 20px;
      p {
        padding: 40px 0 20px 0px;
      }
    }

    .main_feedback__text {
      background: url("../../assets/icons/quote.svg") no-repeat right top;
      margin: 70px 10px 10px 20px;
      padding: 0 20px 0 30px;
      border-left: 2px solid black;
      .main_feedback__name {
        font-size: var(--font-size-m);
        padding: 20px 0 20px 0;
      }
    }
  }

  // h2 {
  //   padding: 20px 0;
  //   font-size: var(--font-size-m);
  //   font-weight: 500;
  // }
  .link {
    margin: 50px 0;
    color: var(--black-color);
    &:visited {
      color: var(--black-color);
    }
  }
}

// Responsive

@media (min-width: 1200px) {
  // header
  .main_header {
    background-image: url("../../assets/img/main-bg-d.png");
    height: 550px;
    .main_header__lang {
      margin: 15px 15px 0 0;
    }
  }
  // about
  .main_about {
    padding: 64px 0 64px 0;
    .main_about__photo {
      width: 476px;
      height: 634px;
    }
    .main_about__title {
      width: 40%;
      padding: 30px 100px 10px 100px;
      h2 {
        font-size: 36px;
        line-height: 44px;
      }
    }
    .main__descrDesktop {
      display: block;
      font-size: var(--font-size);
      margin: 30px 0 0 0;
    }
  }
  .main__descrMobile {
    display: none;
  }

  // cases
  .main_cases {
    display: flex;
    flex-direction: row-reverse;
    height: 914px;
    .main_cases__photo {
      background-image: url("../../assets/img/cat-desktop.png");
      width: 55%;
      height: 711px;
      margin: 120px 0 120px 20px;
    }
    .main_cases__text {
      width: 404px;
      margin: 240px 30px 0 20px;
      h2 {
        padding: 30px 0;
        font-size: var(--font-size-l);
        font-weight: 500;
      }
      .main_cases__number {
        margin-bottom: 50px;
      }
    }
  }

  // FEEDBACK
  .main_feedback__photo {
    background-image: url("../../assets/img/main-dog-desktop.png");
    background-size: cover;
    height: 909px;
    .main_feedback__deskr {
      margin: 100px 0 0 50px;
      .main_feedback__number {
        padding: 0 0 30px 0;
      }
      h2 {
        font-size: var(--font-size-l);
        line-height: 44px;
        width: 453px;
        padding: 40px 0 0 0;
      }
      .main_feedback__text {
        width: 30%;
        margin: 70px 0 10px 0;
      }
    }
  }
}
