.header_menu {
  display: grid;
  grid-template-columns: 300px auto;
  padding: 25px 12px 12px 12px;
  div {
    display: flex;
    flex-direction: row;
  }
  h1 {
    font-weight: 700;
    font-size: var(--font-size);
    letter-spacing: 0.04em;
    margin: 0 0 0 9px;
    color: var(--text-color);
  }

  button {
    padding-top: 3px;
  }
}
