.menu_wrapper {
  background-color: var(--menu-color);
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 100%;
  // opacity: 1;
  // transition: opacity ease-in-out 0.9s;
}

.menu_header {
  display: grid;
  grid-template-columns: 93% auto;
  padding: 25px 12px 30px 12px;
  // border-bottom: 1px solid var(--black-color);
  div {
    display: flex;
    flex-direction: row;
  }
  h1 {
    font-weight: 700;
    font-size: var(--font-size);
    letter-spacing: 0.04em;
    color: var(--black-color);
    margin: 0 0 0 9px;
  }
}

.menu_list {
  li {
    list-style-type: none;
    &:last-child {
      border-bottom: 1px solid var(--black-color);
    }

    .link {
      display: flex;
      flex-direction: row;
      border-top: 1px solid var(--black-color);
      padding: 30px;
      font-size: var(--font-size-s);
      text-decoration: none;

      color: var(--black-color);
      transition: opacity ease-in-out 1s;
      &:visited {
        color: var(--black-color);
      }
      p:last-child {
        margin-left: 5px;
        font-size: var(--font-size-m);
      }
      // &:last-child {
      //   border-bottom: 1px solid var(--black-color);
      // }
    }
  }
}

.menu_lang {
  padding: 15px;
  display: flex;
  justify-content: flex-end;
  button {
    text-align: center;
    font-family: var(--font-base);
    font-size: var(--font-size-m);
    text-decoration: none;
    color: var(--black-color);
    &:visited {
      color: var(--black-color);
    }
  }
}

// Responsive

@media (min-width: 1200px) {
  .menu_wrapper {
    padding: 16px 10px 30px 25px;
    .menu_list {
      margin: 0 0 0 700px;

      li {
        font-weight: 500;
        font-size: 64px;

        .link {
          padding-left: 150px;
          span {
            margin: -5px 5px 0 0;
          }
          p {
            font-size: var(--font-size-l);
          }
          &:hover {
            backdrop-filter: blur(5px);
          }
        }
      }
    }
    // .menu_langContainer {
    //   margin: -2px 0 20px 700px;
    // }
  }
}
